*{
    margin: 0;
    padding: 0;
}
div#f1{
    border: solid 1px coral;
    height: 30vh;
    width: 30vw;
    background-color: blanchedalmond;
}
div#f2{
    border: solid 1px blue;
    height: 30vh;
    width: 30vw;
    background-image: linear-gradient(to bottom, black, skyblue);
}
div#f3{
    border: solid 1 px skyblue;
    height: 30vh;
    width: 30vw;
    background-image: url();
}